In [1]:
import pandas as pd
import csv

game_1 = "../resources/pymoli.csv"
game_data = pd.read_csv(game_1)
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
tot_players = game_data['SN'].unique()

summary_df = pd.DataFrame({"Total Players": [len(tot_players)]})

summary_df

   Total Players
0            576

In [3]:
unique_item = game_data["Item ID"].unique()
unique_item

avg_price = game_data["Price"].mean()
round(avg_price, 2)

num_purchases = game_data["Purchase ID"].count()
num_purchases

tot_rev = game_data["Price"].sum()
tot_rev

summary2_df = pd.DataFrame({"Number Of Unique Items": [len(unique_item)], "Average Price": [round(avg_price, 2)], "Number Of Purchases": [num_purchases], "Total Revenue": [tot_rev]})
summary2_df

   Number Of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [40]:
gen_ref = game_data["Gender"].value_counts()
gen_sum = game_data["Gender"].count()
pct = gen_ref.div(gen_sum).apply('{:.0%}'.format)

playerdem_df = pd.DataFrame({"Total Count": [gen_ref["Male"], gen_ref["Female"], gen_ref["Other / Non-Disclosed"]], "Percentage Of Players": [pct["Male"], pct["Female"], pct["Other / Non-Disclosed"]]}, index=['Male', 'Female', 'Other / NA'])
playerdem_df

            Total Count Percentage Of Players
Male                652                   84%
Female              113                   14%
Other / NA           15                    2%